:root{
    --main-color: linear-gradient(135deg, #6A1D7B 0%, #460BF6 100%);
    --btn-pdf: linear-gradient(135deg, #F85353 0%, #D2063A 33.33%, #D68599 100%);
    --second-color:#460BF6;
}
html[data-theme=light]{
    --bg-main:#fff;
    --text-color:#000;
    --box-color: #fff;
    --bg-second-color:rgb(240,240,253);
    --border:0;
}
html[data-theme=dark]{
    --bg-main:rgba(0,0,0,0.9);
    --text-color: rgb(200,200,200);
    --box-color: #212a2e;
    --bg-second-color:rgba(0,0,0,0.9);
    --border: 1px solid rgb(240,240,240);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: questrial, sans-serif;
}
html, body{
    height: 100%;
}
.container{
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}
/*scrollbar*/
::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-thumb{
	background: darkgrey;
}
header > .container{
    padding: 0;
}
header{
    padding: 5px 0;
    background-color: var(--bg-main);
}
section:not(:first-child){
    border-bottom :var(--border);
}
.logo img{
    max-width: 120px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons-theme-wrapper{
    display: none;
}
.menu-mobile ul li{
    list-style: none;
    width: 100%;
    padding-top: 20px;
}
.menu-mobile ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
}
.open-next-ul{
    cursor: pointer;
    color: var(--text-color);
}
.menu-mobile > ul > li:last-child{
    margin-bottom: 20px;
}
.menu-mobile ul ul li{
    padding-left: 20px;
}
.menu-mobile ul li i{
    margin-left: 15px;
    float: right;
}
.menu-mobile nav ul ul ul li a{
    text-transform: inherit;
}
@media screen and (min-width:850px){
    .menu-mobile{
        display: none !important;
    }
}
.menu-desktop{
    background-color: var(--bg-main);
    position: relative;
}
.menu-desktop nav ul{
    display: flex;
    align-items: center;
}
.menu-desktop nav ul li{
    list-style: none;
    padding: 10px;
    position: relative;
}
.menu-desktop nav ul ul li:not(:first-child){
    margin-left: 0;
}
.menu-desktop nav ul ul li{
    padding: 15px;
}
.menu-desktop nav ul ul{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 2px 8px 0px rgba(150, 150, 150, 0.65);
    z-index: 20;
    width: 150px;
    border-radius: 3px;
    margin-top: 10px;
}
.menu-desktop nav ul ul li:hover{
    border: 1px inset blue;
}
.menu-desktop nav ul li:hover > ul{
    display: block;
    transition: 0.3s;
}
.menu-desktop nav ul li:hover .fa-chevron-down{
    transform: rotate(180deg);
    transition: 0.4s;
}
.menu-desktop nav ul ul ul{
    margin-top: 0;
    top: 0px;
    display: none;
    position: absolute;
    width: 250px;
    left: 145px;
    background-color: white;
    box-shadow: 0px 2px 8px 0px rgba(150, 150, 150, 0.65);
}
.menu-desktop nav ul ul li:hover > ul{
    display: block;
}
.menu-desktop nav .icon-search{
    margin-left: 60px;
    cursor: pointer;
    color: var(--second-color);
}
.menu-desktop nav .fa-chevron-down{
    margin-left: 12px;
    color: var(--second-color);
}
.menu-desktop nav ul li:not(:first-child){
    margin-left: 60px;
}
.menu-desktop nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.btn-drop-menu{
    padding: 10px 13px;
    background-color:var(--second-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    width: fit-content;
    position: absolute;
    top: 23px;
    right: 20px;
}
.menu-desktop .input-subscribe{
    position: absolute;
    top: 38px;
    right: 0;
    z-index: 100;
    width: 300px;
}
.arrow-down{
    position: absolute;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--main-color);
    border-radius: 49%;
    right: 50%;
    transform: translateX(50%);
    color: white;
    z-index: 20;
    top:-25px;
}
.hero{
    min-height: 620px;
    background-image: url("../images/pexels-max-fischer-5212330.jpg");
    background-position: center 0px;
    background-size: cover;
    position: relative;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.hero-information{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-information h1{
    font-size: 44px;
    font-weight: normal;
    text-align: center;
}
.hero-information p{
    margin-top: 20px;
    max-width: 450px;
    font-size: 19.5px;
    display: inline-block;
    font-weight: lighter;
    line-height: 25px;
    text-align: center;
}
.btn-hero,
.btn-curso,
.btn-institucional,
.btn-news,
.btn-cursos{ 
    display: inline-block;
    margin-top: 30px;
    padding: 14px 32px;
    border-radius: 20px;
    border: none;
    background-color: #6A1D7B;
    background-image: var(--main-color);
    color: white;
    cursor: pointer;
    box-shadow: 0px 9px 25px -8px #6A1D7B;
    font-weight: bold;
}
.btn-cursos{
    margin-top: 60px !important;
}
.btn-news{
    margin-top: 0 !important;
}
.btn-curso{
    padding: 13px 25px !important;
    font-size: 12px !important;
}
.cursos-cedup{
    padding: 80px 0;
    background-color: var(--bg-main);
    position: relative;
}
.cursos-title,
.institucional-title,
.news-title,
.edital-title{
    text-align: center;
    color: var(--text-color);
}
.cursos-title p,
.institucional-title p,
.news-title p,
.edital-title p{
    margin-top: 20px;
}
.institucional-title p{
    max-width: 600px;
    display: inline-block;
    text-align: center;
    line-height: 17px;
}
.list-cursos{
    display: flex;
    margin-top: 60px;
}
.box-curso:not(:first-child){
    margin-left: 15px;
}
.box-curso{
    width: 25%;
    padding: 4px;
    background-color: var(--box-color);
    text-align: center;
    border-radius: 4px;
    padding: 25px 25px;
    box-shadow: 0px 0px 14px -12px #000000;

}
.box-curso img{
    width: 150px;
    height: 110px;
}
.box-curso h3{
    font-weight: normal;
    margin-top: 25px;
    color: var(--text-color);
}
.box-curso p{
    font-size: 14px;
    margin-top: 25px;
    color: var(--text-color);
}
.institucional,
.edital{
    padding: 80px 0;
    background-color: var(--bg-second-color);
    position: relative;
}
.institucional-wrapper{
    margin-top: 60px;
    display: flex;
    width: 100%;
    align-items: center;
}
.institucional-wrapper-2{
    width: 100%;
    overflow: hidden;
    max-height: 100%;
    height: 100%;
}
.box-institucional{
    width: 100%;
    background-color: var(--box-color);
    border-radius: 2px;
    padding: 15px 40px;
    display: flex;
    align-items: center;
}
.box-institucional button{
    padding: 9px 15px;
    margin-left: 20px;
    border: none;
    background: var(--btn-pdf);
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.box-institucional:not(:first-child){
    margin-top: 7px;
}
.logo-institucional{
    height: 100%;
    width: 80px;
}
.logo-institucional img{
    max-width: 100%;
}
.institucional-title-wrapper{
    margin-left: 30px;
}
.institucional-title-wrapper p:not(:first-child){
    margin-top: 10px;
}
.institucional-title-wrapper p:first-child{
    font-weight: bold;
}
.institucional-wrapper-information{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--text-color);
}
.institucional-information{
    display: flex;
    align-items: center;
}
.institucional-information i{
    cursor: pointer;
}
.institucional-information div:not(:first-child),
.institucional-information i{
    margin-left: 50px;
}
.institucional-information .box-institucional-data p:not(:first-child){
    margin-top: 10px;
    font-weight: bold;
}
.news{
    padding: 80px 0;
    background-color: var(--bg-main);
}
.news-wrapper{
    margin-top: 60px;
    display: flex;
}
.news-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-news-wrapper{
    display: flex;
}
.box-news{
    width: 33.33%;
    padding: 10px;
    text-align: center;
    color: var(--text-color);
}
.box-news:not(:first-child){
    margin-left: 65px;
}
.box-news p{
    font-size: 13px;
}
.box-news h3{
    margin-top: 10px;
    color: var(--text-color);
}
.box-news a{
    text-decoration: none;
    color: black;
}
.box-news img{
    max-width: 100%;
    margin-top: 25px;
}
.btn-news-wrapper{
    margin-top: 35px;
}
.edital > .container{
    max-width: 1300px;
}
.edital-wrapper{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 30px;
}
.box-edital{
    float: left;
    width: 33.33%;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    background-color: var(--box-color);
    border-radius: 3px;
    box-shadow: 0px 9px 35px -33px #000;
    margin: 0 10px;
    color: var(--text-color);
}
.box-edital img{
    max-width: 60px;
    margin-right: 20px;
}
.information-edital p{
    margin-top: 10px;
    font-size: 14.5px;
}
.information-edital p:last-child{
    color:var(--second-color);
}
.box-edital-wrapper{
    max-width: 100%;
    overflow: hidden;
}
footer{
    padding: 80px 0;
    background-color: var(--bg-main);
    color: var(--text-color);
}
footer > .container{
    max-width: 1000px;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
}
.edu-information{
    width: 33%;
    display: flex;
    flex-direction: column;
}
.edu-information p{
    margin-top: 20px;
}
.edu-menu{
    text-align: center;
    display: inline-block;
    text-align: left;
}
.edu-menu li{
    list-style: none;
    margin-top: 15px;
}
.edu-menu li a{
    text-decoration: none;
    color: black;
}
.contacts{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.information-contacts-one{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.information-contacts-one a{
    color:var(--second-color);
}
.information-contacts-two{
    margin-top: 15px;
}
.contacts hr{
    width: 50%;
    border-collapse: collapse;
    border: 0.5px solid rgb(240, 240, 240);
    margin-top: 15px;
}
.subscribe{
    margin-top: 20px;
}
.input-subscribe{
    margin-top: 18px;
    position: relative;
}
.input-subscribe input{
    width: 100%;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 20px;
    padding: 9px 79px 9px 10px;
    outline: none;
}
.subscribe-submit{
    display: inline-block;
    position: absolute;
    right: 0px;
    height: 100%;
}
.subscribe-submit input{
    height: 100%;
    background-color: #6A1D7B;
    background-image: var(--main-color);
    color: white;
    cursor: pointer;
    box-shadow: 17px 5px 50px -21px #6A1D7B;
    font-weight: bold;
    border: 0;
    padding: 0 10px;
    border-radius: 20px;
}
.run-the-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 20px;
    color: white;
    background-image: var(--main-color);
    border-radius: 50%;
    box-shadow: 0px 9px 25px -8px var(--main-color);
    cursor: pointer;
    display: none;
}
.emailenviado{
    position: absolute;
    top:40px;
    right: 5px;
    height: auto;
    padding: 12px;
    border-radius: 4px;
    background-color: #11da71;
    color: white;
    display: none;
    box-shadow: 0px 9px 25px -8px #11da71;
    z-index: 20;
}
.wrong-email{
    display: flex;
    position: absolute;
    top:40px;
    right: 5px;
    height: auto;
    padding: 12px;
    border-radius: 4px;
    background-color: #c62828;
    color: white;
    display: none;
    box-shadow: 0px 9px 25px -8px #c62828;
    z-index: 20;
}
.wrong-email h4{
    margin: 0 20px;
}
/****SLICK SLIDER****/

.slick-track{
    height: 100%;
    max-height: 100%;
}
.slick-list{
    overflow: hidden;
}
.institucional .slick-dotted ul{
    position: absolute !important;
    top: 50%;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    right:80px;
}
.slick-dotted ul{
    display: block;
	list-style-type: none;
	text-align: center;
}
.slick-dotted li{
	display: inline-block;
	margin-top: 25px;
    margin-right: 8px;
}
.slick-dotted button:focus{
	outline: 0;
}
.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: transparent;
	border-width: 0;
	background: var(--box-color);
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: var(--main-color);
	color: transparent;
}

.slick-slide:focus { outline: none; }

.wrapper-cursos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width:880px){
    .hero-information{
        width: 100%;
        padding: 0 2%;
    }
    .list-cursos{
        flex-direction: column;
    }
    .box-curso{
        width: 100%;
    }
    .box-curso:not(:first-child){
        margin-left: 0px;
        margin-top: 20px;
    }
}
@media screen and (max-width:850px) {
    .menu-desktop{
        display: none;
    }
    .menu-mobile{
        width: 100%;
        display: none;
        padding: 0 4%;
        z-index: 20;
        /* background-color: var(--bg-main); */
    }
    header{
        padding: 8px 0 0 0;
    }
    .icons-theme-wrapper{
        display: block;
        position: absolute;
        top: 32px;
        left: 20px;
        color: var(--text-color);
    }
    .icons-theme-wrapper i{
        font-size: 20px;
        cursor: pointer;
    }
    .icons-theme-wrapper i:not(:last-child){
        display: none;
    }
    .menu-mobile nav .icon-search{
        display: none;
    }
    .menu-mobile .input-subscribe{
        transition: 0.3s;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 50%;
        position: relative;
        top: 0;
        display: block !important;
    }
    .menu-mobile ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        z-index: 20;
    }
    .btn-drop-menu{
        display: inline-block;
    }
    .flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box-institucional{
        flex-direction: column;
    }
    .box-institucional button{
        margin-left: 0;
        margin-top: 25px;
    }
    .institucional-wrapper-information{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .institucional-information{
        flex-direction: column;
    }
    .institucional-information div:not(:first-child), .institucional-information i {
        margin-left: 0px;
    }
    .institucional-information div, .institucional-information i{
        margin-top: 30px;
    }
    .institucional-title-wrapper{
        margin-left: 0;
        margin-top: 20px;
    }
    .box-news-wrapper{
        flex-direction: column;
    }
    .box-news{
        width: 100%;
    }
    .box-news:not(:first-child){
        margin-left:0;
        margin-top: 25px;
    }
    footer > .container{
        padding: 0 10%;
    }
    .footer-wrapper{
        flex-direction: column;
    }
    .edu-information{
        width: 100%;
    }
    .contacts{
        width: 100%;
        margin-top: 35px;
    }
    .edu-menu{
        text-align: center;
        display: inline-block;
        text-align: left;
        margin-top: 35px;
    }
    .edu-menu ul li a{
        color: var(--text-color);
    }
}
@media screen and (max-width:500px){
    .menu-mobile .input-subscribe{
        width: 100%;
    }
    .menu-mobile{
        padding: 0 4%;
    }
}
@media screen and (max-width:270px){
    .box-edital{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .box-edital img{
        margin-right: 0;
        margin-bottom: 15px;
    }
    .information-contacts-one{
        flex-direction: column;
    }
    .information-contacts-one a{
        margin-top: 15px;
    }
}